<html lang="en">
  <% include ../partials/header %>
  <body>
    <% include ../partials/nav %>
    <div class="centre-main col-md-12">
      <!-- <div class="abra col-md-2">mhgasvd</div> -->
      <div id="map"></div>
    </div>
    <!-- <div class="container"> -->
    <!-- <p>a</p> -->
    <!-- <div class="row"> -->
    <!-- <p class="centre-main">b</p> -->
    <!-- <div class="panel">
      <div class="panel-body">
        <% if (messages.success) {%>
        <div class="alert alert-success">
          <% messages.success.forEach(function(msg){ %>
          <p>
            <%= msg %>
          </p>
          <% });%>
        </div>
        <% }%>
        <% if (messages.error) {%>
        <div class="alert alert-danger">
          <% messages.error.forEach(function(msg){ %>
          <p>
            <%= msg %>
          </p>
          <% });%>
        </div>
        <% }%>
        <% if (messages.info) {%>
        <div class="alert alert-info">
          <% messages.info.forEach(function(msg){ %>
          <p>
            <%= msg %>
          </p>
          <% });%>
        </div>
      </div>
      </div> -->
    <!-- <div class="col-md-12">
      <p class="centre-main">b</p>
      </div>
      
      <! </div> -->
    <!-- <div class="centre-main col-md-12">abra</div>
      </div>
      <div class="centre-main col-md-12">dabra</div> -->
    <% }%>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
    <script>
      function initMap() {
              var map = new google.maps.Map(document.getElementById('map'), {
                  center: { lat: 55.7558, lng: 37.6173 },
                  scrollwheel: false,
                  zoom: 14
              });
          } // close function here

  // var map;
  // function initMap() {
  //   var map = new google.maps.Map(document.getElementById('map'), {
  //     center: { lat: 55.7558, lng: 37.6173 },
  //     scrollwheel: false,
  //     zoom: 14,
  //     mapTypeId: 'roadmap'
  // });

    // var icons = {
    //   man: {
    //     icon: '../images/man.png'
    //   },
    //   drop: {
    //     icon: '../images/drop.png'
    //   },
    //   cab: {
    //     icon: '../images/cab.png'
    //   }
    // }

    // var features = [
    //   {
    //     position: new google.maps.LatLng(55.770637, 37.576657),
    //     type: 'man'
    //   }, {
    //     position: new google.maps.LatLng(55.776490, 37.611891),
    //     type: 'man'
    //   }, {
    //     position: new google.maps.LatLng(55.765628, 37.617041),
    //     type: 'man'
    //   }, {
    //     position: new google.maps.LatLng(55.767125, 37.511923),
    //     type: 'man'
    //   }, {
    //     position: new google.maps.LatLng(55.795217, 37.498533),
    //     type: 'man'
    //   }, {
    //     position: new google.maps.LatLng(55.772436, 37.481538),
    //     type: 'drop'
    //   }, {
    //     position: new google.maps.LatLng(55.789909, 37.660410),
    //     type: 'drop'
    //   }, {
    //     position: new google.maps.LatLng(55.751233, 37.616123),
    //     type: 'drop'
    //   }, {
    //     position: new google.maps.LatLng(55.776490, 37.611891),
    //     type: 'drop'
    //   }, {
    //     position: new google.maps.LatLng(55.725526, 37.728389),
    //     type: 'drop'
    //   }, {
    //     position: new google.maps.LatLng(55.751233, 37.616123),
    //     type: 'cab'
    //   }, {
    //     position: new google.maps.LatLng(55.772436, 37.481538),
    //     type: 'cab'
    //   }, {
    //     position: new google.maps.LatLng(55.789909, 37.660410),
    //     type: 'cab'
    //   }, {
    //     position: new google.maps.LatLng(55.751233, 37.616123),
    //     type: 'cab'
    //   }, {
    //     position: new google.maps.LatLng(55.765628, 37.617041),
    //     type: 'cab'
    //   }, {
    //     position: new google.maps.LatLng(55.770637, 37.576657),
    //     type: 'cab'
    //   }
    // ];

    // // Create markers.
    // features.forEach(function(feature) {
    //   var marker = new google.maps.Marker({
    //     position: feature.position,
    //     icon: icons[feature.type].icon,
    //     map: map
    //   });
    // });
  }
          
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnhbCfg3ziWkF_msrE68ZwLCX_Z4EBsJM&callback=initMap"></script>
  </body>
</html>